<!DOCTYPE html>

<html>
   <head>
      <meta charset="utf-8">

      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:400,600">
      <link rel="stylesheet" href="/node_modules/typicons.font/src/font/typicons.css">
      <link rel="stylesheet" href="/src/styles/stylesheet.css">
   </head>

   <body>
      <div id="popup-wrapper">
         <header id="header">
            <p><i class="typcn typcn-lock-closed-outline" style="font-size:24px;"></i>&nbsp;Website Limiter</p>
         </header>

         <div id="add-site">
            <div id="add-site__form">
               <input type="text" class="wl-inp" name="url" id="add-site__url" placeholder="Site address">
               <input type="number" class="wl-inp" name="allowance" id="add-site__allowance" placeholder="Visits&nbsp;">
               <button type="button" class="btn" id="add-site__btn">Add</button>
            </div>

            <div id="add-site__error" style="display:none;">
               <div class="error__icon typcn typcn-warning"></div>
               <div class="error__text"></div>
            </div>
         </div>

         <div id="site-list">
            <!-- site list will be dynamically added here -->
         </div>
      </div>

      <!-- popup logic script -->
      <script src="/src/constants.js"></script>
      <script src="/src/popup-script.js"></script>
   </body>
</html>
