<!DOCTYPE html>

<html>
   <head>
      <title>Limit Reached 🙅🏽‍♀️</title>

      <meta charset="utf-8">

      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:400,600">
      <link rel="stylesheet" href="/node_modules/typicons.font/src/font/typicons.css">
      <link rel="stylesheet" href="/src/styles/stylesheet.css">
   </head>
   <body>
      <div class="splash-header">
         <i class="typcn typcn-lock-closed-outline" style="font-size:32px;margin-right:15px;"></i>
         <h1>Limit Reached</h1>
      </div>

      <div class="splash-body">
         <p class="splash-body__text">
            You've reached your allowed visits for the day; your limit will reset in:
         </p>
         <p class="splash-body__clock"></p>
         <div class="splash-body__suggestions-wrapper">
            <p class="splash-body__text">In the meantime, why not check out something more productive? You might even learn something!</p>
            <div class="splash-body__suggestions">
               <div class="row"></div>
               <div class="row"></div>
            </div>
         </div>
      </div>


      <script src="/src/constants.js"></script>
      <script src="/src/splash-script.js"></script>
   </body>
</html>
